<header>
    <link href="sign.css" rel="stylesheet">
       
        <img id="logo" alt="Logo" src="logo.png">
        <div>
            <a  href="/home" class="key" >Home</a> 
            <a  href="/contact" class="key">Contact</a>
            <a  href="/About" class="key">About</a>
        </div>
    </header>
    