/* img{
    width: 100%;
    opacity: 0.3;
}
#logo{
    height: 100px;
    width: 100px;
    opacity: 1;
    text-align: left;
}
header{
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    width: 100%;
}
header h1{
    display: inline-block;
    position: absolute;
    left: 300px;
    
    color: blueviolet;
}
.key{
    position: relative;
    left: 400px;
    margin: 20px;
    font-size: 30px;
    margin-top: 20px;
    line-height: 80px;
    cursor:pointer;
}
    
header nav{
    position: absolute;
    left: 600px;
    font-weight:600;
    font-size: x-large;
} */

/* Instead of styling all images, scope to header background or sections */
img {
    width: 100%;
    opacity: 0.3;
}

/* Logo image only */
#logo {
    height: 100px;
    width: 100px;
    opacity: 1;
    text-align: left;
}

/* Header container */
.custom-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100px;
    width: 100%;
    position: relative;
    padding: 0 20px;
}

/* Brand title (only inside header) */
.custom-header h1 {
    position: absolute;
    left: 300px;
    color: blueviolet;
    margin: 0;
}

/* Navigation links */
.key {
    position: relative;
    left: 950px;
    bottom: 60px;
    margin: 20px;
    font-size: 1.5rem;  /* responsive size */
    line-height: 0px;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

/* Navigation container */
.custom-header nav {
    position: absolute;
    left: 600px;
    font-weight: 600;
    font-size: 1.25rem;
}
/* header h1{
    display: inline-block;
    position: absolute;
    font-size: 1000;
    font-family:"Poppins", sans-serif;
    left: 200px;
    top: 40px;
    color: #78C841;
} */
.col-12 button{
    margin: 20px;
    left: 500px;
}
body {
   background-color: rgba(141, 138, 138, 0.814);
   background-size: cover; 
}
main {
  background: rgba(255, 254, 254,); /*soft white overlay */
  border-radius: 12px;
  padding: 20px;
}

