.checkin-box {
    max-width: 700px;
    margin: auto;
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}

.checkin-box h2 {
    color: #0f766e;
}
.checkin-box label{
    color: #065f46;
}
